.file-input input {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input label {
    color: white;
    background-color: #007EFF;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
}

.file-input img{
    margin-left: 10px;
}