h1 {
    font-weight: 800;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: .08em;
    background-color: #8225E2;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
}